include LICENSE
include README.md
include pyproject.toml
recursive-include src *.py *.pyi
recursive-include src/adda/_src/knowledge *.md
recursive-include src/adda/_src/viewer/templates *.html
recursive-include docs *.md *.rst *.ipynb
